{% extends 'registration/regbase.html'%}

{%load static%}
{%load socialaccount%}
{% providers_media_js %}
{% block content %}

.
    <div style="position: relative; top:-120px;" class="main">

        <!-- Sign in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img class="loginimg" src= {% static 'assets/bugimg-highres.jpeg' %} alt="sing in image"></figure>
                        <a href="{%url 'signup'%}" class="signup-image-link">Create an account</a>
                        <a class="guest-button" href="{%url 'guest_login'%}">Log in as guest</a>
                    </div>
                    <div class="signin-form">
                        <h3>You're not logged in {{user}}</h3>
                        <h2 class="form-title">Login</h2>
                        <form method="POST" class="register-form" id="login-form"> {%csrf_token%}
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <p>Email: </p> {{form.username}} 
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <p>Password: </p> {{form.password}}
                            </div>
                          
                        <a class="forgot-button" href="{%url 'password_reset'%}">Forgot your password?</a>
                        <div class="form-group form-button">
                            <input  type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                        </div>
                        </form>
                        
                        
                        <div  class="googlecontainer">
                          <form action="{% provider_login_url 'google' %}" method="post">{% csrf_token %}
                              <div  class="g-sign-in-button">
                                <div class="content-wrapper">
                                  <div  class="logo-wrapper">
                                    <img src="https://developers.google.com/identity/images/g-logo.png">
                                  </div>
                                  <button class="button-text" type="submit">Sign in with Google </button>
                                  
                                </div>
                              </div>
                          </form>    
                        </div>
                        <!-- <div class="fb-login-button" data-width="" data-size="" data-button-type="" data-layout="" data-auto-logout-link="false" data-use-continue-as="false"></div>

                        <div  class="googlecontainer">
                          <form action="{% provider_login_url 'facebook' method='oauth2' %}" method="post">{% csrf_token %}
                              
                          </form>   -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>


    <!-- JS -->
   
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v16.0&appId=496531955999839&autoLogAppEvents=1" nonce="s5LVexVq"></script>
{% endblock content %}
