{%extends 'registration/base.html' %}
{%load static%}
{%load crispy_forms_tags%}

{%block content%}
<div class="col py-3 ">
    <h1 class="m-3"><img style="width:40px;" src="{% static 'assets/lock_img.jpg'%}" alt="Lock img">Check you inbox </h1> 
    <p class=" text-left m-3">We've sent intructions to the the email address you provided. You should receive the email shorty! </p>
     
    <!-- <img style="width:70px;" src="{% static 'blue_bug.png'%}" alt="Lock img"> -->
    </div>
{%endblock content%}

