{%extends 'base.html'%}

{%block content%}

        <!-- Main content -->
<div class="col py-3">
    <div class="container-sm">
        <h1 class=" d-inline-block " >All Developers</h1>
        <div class='d-inline-block ps-2 ms-5' style="float:right;">
            <a style="background-image: linear-gradient(#51ab47,#396349);"class="btn btn-success p-2 m-2" href="{%url 'excel_developers_download'%}">Download Excel</a>
            <a style="background-image: linear-gradient(#5271be,#596fa7);"class="btn btn-primary p-2 m-2 " href="{%url 'developer_create'%}">Add Developer</a>
        </div>
                <table class="table table-grey table-hover table-condensed table-hover">
                    <tr class="table-active text-center">
                        <th class="col-md">First Name</th>
                        <th class="col-md">Last Name</th>
                        <th class="col-md-4">Email</th>
                        <th class="col-md">Update</th>
                        <th class="col-md">Delete</th>

                    </tr>
                    {%for developer in developer_list%}
                        <tr class="text-center">
                            <td>{{developer.first_name}}</td>
                            <td>{{developer.last_name}}</td> 
                            <td>{{developer.email}}</td> 
                            <td class="button-control-1"><a href="{%url 'developer_update' developer.pk %}">Update Developer</a></td>
                            <td class="button-control-2"><a  href="{%url 'developer_delete' developer.pk %}">Remove Developer</a></td> 
                        </tr>
                    
                    {%endfor%}
                    
                   
                </table>
                
                
            </div>
    </div>
</div>
{%endblock content%}

